asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.1
django-environ==0.11.2
idna==3.7
paystack==1.5.0
paystackapi==2.1.2
pillow==10.4.0
requests==2.32.3
simplejson==3.19.2
sqlparse==0.5.1
urllib3==2.2.2
